<div class="main_container">
  <div class="main_title_container">
    <h1>red tetris</h1>
  </div>
  <div class="main_game_container">
    <div class="game_container">
      <div class="auxiliary_container">
        <h4>Player 1</h4>
        <p>Score</p>
      </div>
      <div class="grid"></div>
    </div>
    <div class="game_container">
      <div class="auxiliary_container">
        <h4>Player 2</h4>
        <p>Score</p>
      </div>
      <div class="grid"></div>
    </div>
  </div>
</div>